@font-face {
    font-family: "MaisonNeue";
    src: url("../maisonneuebook.woff") format("woff");
}

.about-body {
    margin: 20px;
    /* font-family: MaisonNeue, sans-serif;
    font-size: 1em; */
}