@font-face {
    font-family: "MaisonNeue";
    src: url("../maisonneuebook.woff") format("woff");
}

.about-container {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    font-family: MaisonNeue, sans-serif;
}